.commentbox{
    background-color: black;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px yellow;
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    border-top: 20px;
    color: white;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 3px gray;
  }
  
  
  
  .ProfileImages{
    width: 100px;
    border-radius:50% ;
  }
  
  
  .user{
     margin-top: -80px;
  
  }
  .Dist{
    line-height: 0px;
  }