.App-logo {
    height: 50px;
  }
   
  .App-header {
    background-color: #000000;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    height: 60px;
    padding: 20px;
    padding-bottom: 25px;;
    align-self: center;
  }

  #logo{
      position:absolute;
      padding:3px;
      float:left;
      margin-left: 3%;
      margin-top: -30px;
      Color:White;
      font-family: 'Sacramento',cursive;
      font-size: 3.3vw;
  }

  ul{
      width: auto;
      float:right;
      margin-top: 8px;    

  }

  li{
      display: inline-block;
   
      padding: 15px 30px;
      position:static;
  }

  .navbutton{
     text-align: center; 
     color:white;
     text-decoration: none;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.2vw;
     background-color: black;
     border-color: #000000;
     
  }

  .navbutton:hover{
      position:initial;
      color:red;
      transition:0.5s;
      font-size: 1.2vw;
      cursor: pointer;
  }
 
  .navbutton:focus{
      outline: none;
      box-shadow: none;
      color:red;
  }
  .rnavbutton{
    text-align: center; 
    color:red;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    background-color: black;
    border-color: #000000;
    
 }


 .rnavbutton:focus{
     outline: none;
     box-shadow: none;
     color:red;
 }